#foto-de-fundo-rambo{
    background-image: url(../../img/Rambo/Rambo-cartaz-horizontal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
    width: auto;
    margin-bottom: 100px;
}